@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin:0px;
    padding:0px;
    font-family: Roboto,sans-serif;
    box-sizing: border-box;
}

.wrapper_menu-body{
    width: 100%;
    overflow: hidden;
    height: 100%;
}

/* ----Header---- */

.nav_basket{
    margin-left: 25px;
}

.nav_button{
    padding: 10px 20px;
    border:1px solid #E0E0E0;
    background-color: #ffffff;
    border-radius: 8px;
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
}

.nav_items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_body{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container{
    max-width: 1124px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 81px;
    padding-right: 81px;
}

.header{
    padding:16px 0;
    position: sticky;
    top: 0;
    background: #ffffff;
    width:100%;
    z-index: 1000;
}
/* --------------------main----------------- */

main{
    width: 100%;    
}
 
/* ---------------------zastavka------------------- */
.zastavka_card_name{
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    padding-bottom: 62px;
    width: 100%;
}

.zastavka_card_type{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #626262;
    width: 50%;
}

.zastavka_card_time{
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    color:white;
    border:1px solid black;
    border-radius: 16px;
    width: 33%;
    background-color: black;
    padding:8px 16px ;
}

.zastavka_card{
    max-width: 390px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 38px;
}

.zastavka{
    background-image: url(../images/background.svg);
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 80px;
}

/* ------spisok---- */

.navbar_elem{
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #626262;
}

.navbar_elements{
    display: flex;
    justify-content: flex-start;
    column-gap: 40px;
}

.navbar{
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(117, 117, 117, 0.2);
}


/* ---------------------------menu---------------------------------- */


.menu_card_dish{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 100%;
}

.menu_card_description{
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    color: #626262;
    width: 100%;
}

.menu_card_price{
    font-size: 15px;
    font-weight: 500;
    line-height: 21px;
    width: 100%;
}

.menu_card_text p{
    padding-bottom: 4px;
}

.menu_card img{
    width: auto;
    height: 100%;
}

.menu_card_text{
    padding: 16px 0 16px 16px;
    display: flex;
    flex-direction:column;
    justify-content:space-between;
}

.menu_card{
    background-color: #e2dfdf;
    display: flex;
    justify-content: space-between;
}

.wrapper_menu{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:48px 16px ;
}

.container h3{
    font-size: 22px;
    font-weight: 400;
    line-height: 34px;
    padding-bottom:38px;
}

.menu{
    padding-top: 56px;
    padding-bottom: 80px;
}

/* ----------------------Foooter-------------------- */

footer{
    width:100%;
    background-color: #2e2c2c ;
}

.section1{
    padding-top:56px;
    padding-bottom:40px;
    border-bottom: 1px solid #FFFFFF;
}

.select_language{
    color: white;
    font-size:13px ;
    font-weight: 500;
    line-height: 15px;
    width:100%;
    background-color: #3B3B3B ;
    border:none;
}

.language img{
    padding:0 15px;
}
.language{
    background-color: #3B3B3B;
    max-width: 230px;
    width: 60%;
    padding:12px 0 12px;
    margin-bottom: 5px;
    display: inline-flex;
}

.sharp{
    color:#49A144;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.ubereats{
    color:#FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.icons img{
    padding-right:12px;
}

.section2_col{
    display: flex;
    flex-direction: column;
    row-gap: 23px;
}

.section2_col p{
    color:#FFFFFF;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    width: 100%;
}

.section2{
    padding:32px 0 48px  ;
    border-bottom: 1px solid #FFFFFF;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:3em;
}

.section3{
    border-bottom: 1px solid #FFFFFF;
    padding:40px 0;
    display: flex;
    justify-content: center;
    column-gap: 40px;
}

.section4 p{
    color:#FFFFFF;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
}

.section4{
    padding:40px 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:3em;
}

.button-up{
    display: block;
    width: 80px;
    height: 80px;
    position: fixed;
    right: 16px;
    bottom: 24px;
    z-index: 1000;
}

#goup{
    border-top: 72px solid transparent;
    margin-top: -72px;
    background-clip: padding-box;
}

a:active,
a{
    text-decoration: none;
    color: black;
}


@media screen and (max-width: 991px){
    .container{
        padding-left: 8px;
        padding-right: 8px;
    }

    .wrapper_menu{
        grid-template-columns: 1fr;
        gap: 32px;
    }
}


@media  screen and (max-width: 767px){
    .zastavka_card_name{
        font-size: 23px;
        padding-bottom: 35px;
    }
    
    .zastavka_card_type{
        padding-bottom: 25px;
        width: 60%;
    }

    .zastavka_card_time{
        width: 50%;
    }
    .zastavka_card{
        max-width: 300px;
        padding: 15px 45px;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }

    .zastavka{
        padding: 70px 0 10px;
        background-size:cover;
    }

    .navbar_elements{
        padding-left: 30px;
        display: flex;
        flex-wrap: wrap;
        row-gap: 10px;
    }

    .navbar_elem{
        width:45%;
    }

    .container h3{
        text-align: center;
    }

    .section2,.section4{
        display: grid;
        grid-template-columns: 1fr;
    }

    .container{
        padding-left: 4px;
        padding-right: 4px;
    }
}


@media screen and (max-width:438px){

    .navbar{
        display: none;
    }

    /* .navbar_elements{
        padding-left:4px;
    }
    
    .navbar_elem{
        width:40%;
    } */
    
    .wrapper_menu{
        display: grid;
        grid-template-columns: 1fr;
        gap:0px;
    }

    .menu_card{
        border-bottom: 1px solid rgba(117, 117, 117, 0.2) ;
        min-width: 0;
        background-color: white;
    }
    .menu_card img{
        padding-top: 8px;
        width: 102px;
        height: 100%;
    }

    .menu_card_text{
        width: 60%;
        padding: 8px 0 4px 4px;
    }
    
    .menu_card_dish{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    
}
 