@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin:0px;
    padding:0px;
    font-family: Roboto,sans-serif;
}


/* ----Header---- */

.nav_basket{
    margin-left: 25px;
}

.nav_button{
    box-sizing: border-box;
    padding: 10px 20px;
    border:1px solid #E0E0E0;
    background-color: #ffffff;
    border-radius: 8px;
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;

}

.nav_items{
    display: flex;
    align-items: center;
}

.header_body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.container{
    max-width: 1124px;
    width: 100%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 81px;
    padding-right: 81px;
    
}

.header{
    padding:16px 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: #ffffff;
    width:100%;
    z-index: 1000;
}
/* --------------------main----------------- */

main{
    display:block;
    width: 100%;
/*     padding-top: 72px; */    
}

    
/* ---------------------zastavka------------------- */
.card_name{
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    padding-bottom: 62px;
}

.card_type{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #626262;
}

.card_time{
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    color:white;
    border:1px solid black;
    border-radius: 16px;
    box-sizing: border-box;
    width: 102px;
    background-color: black;
    padding:8px 16px ;
}


.zastavka_card{
    max-width: 315px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 38px;
}


.zastavka{
    background-image: url(/images/background.svg);
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 80px;
}

/* ------spisok---- */

.navbar_elem{
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #626262;
    padding-right: 40px;
}

.navbar_elements{
    display: flex;
}

.navbar{
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(117, 117, 117, 0.2);
}


/* ---------------------------menu---------------------------------- */


.card_dish{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.card_description{
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    color: #626262;
}

.card_price{
    font-size: 15px;
    font-weight: 500;
    line-height: 21px;
}

.card_text p{
    padding-bottom: 4px;
}

.card img{
    width: 170px;
    height: 160px;
}

.card_text{
    padding: 16px 0 16px 16px;
    background-color: #e2dfdf;
    display: flex;
    flex-direction:column;
    justify-content:space-between;
}

.card{
    background-color: #e2dfdf;
    display: flex;
    justify-content: space-between;

}

.wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(470px,1fr));
    gap:48px 16px ;
}

.container h3{
    font-size: 22px;
    font-weight: 400;
    line-height: 34px;
    padding-bottom:38px;
}

.menu{
    padding-top: 56px;
    padding-bottom: 80px;
}

/* ----------------------Foooter-------------------- */

footer{
    width:100%;
    background-color: #2e2c2c ;
}
.section1{
    padding-top:56px;
    padding-bottom:40px;
    border-bottom: 1px solid #FFFFFF;
}


.select_language{
    color: white;
    font-size:13px ;
    font-weight: 500;
    line-height: 15px;
    max-width:172px;
    width:100%;
    background-color: #3B3B3B ;
    border:none;
}

.language img{
    padding:0 15px;
}
.language{
    background-color: #3B3B3B;
    max-width:225px;
    width: 100%;
    padding:12px 0 12px;
    margin-bottom: 33px;
    display: flex;
    align-items: center;
}

.sharp{
    color:#49A144;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.ubereats{
    color:#FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.icons{
    padding-top: 20px;

}

.icons img{
    padding-right:12px;
}


.section2_col2 p, .section2_col3 p{
    color:#FFFFFF;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    padding-bottom: 23px;
}


.section2{
    padding:32px 0 48px  ;
    border-bottom: 1px solid #FFFFFF;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:3em;
}


.section3{
    border-bottom: 1px solid #FFFFFF;
    padding:40px 0;
    display: flex;
    justify-content: center;
}

.section3 img{
    padding: 0 20px;
}

.section4 p{
    color:#FFFFFF;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
}

.section4{
    padding:40px 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:3em;
}

.button-up{
    display: block;
    width: 80px;
    height: 80px;
    position: fixed;
    right: 16px;
    bottom: 24px;
    z-index: 1000;
}

#goup{
    border-top: 72px solid transparent;
    margin-top: -72px;
    background-clip: padding-box;
}

a:active,
a{
    text-decoration: none;
    color: black;
}


@media screen and (min-width: 768px) and (max-width: 991px){
    .container{
        width: 100%;
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        padding-left: 8px;
        padding-right: 8px;
    }

    .card img{
        width: 200px;
        height: 160px;
    }

}


@media  screen and (max-width: 767px){
    .card_name{
        font-size: 23px;
        padding-bottom: 35px;
    }
    
    .card_type{
        padding-bottom: 25px;
    }
    .zastavka_card{
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        padding: 24px 49px;
        margin-left: auto;
        margin-right: auto;
    }

    .zastavka{
        padding: 70px 0 10px;
    }

    .navbar_elements{
        display: flex;
        flex-wrap: wrap;
        row-gap: 10px;
    }

    .navbar_elem{
        box-sizing: border-box;
        padding-left: 30px;
        padding-right: 0;
        width:50%;
    }

    .container h3{
        text-align: center;
    }
    .wrapper{
        display: grid;
        grid-template-columns: 1fr;
        gap:0px;
    }
    .card{
        border-bottom: 1px solid rgba(117, 117, 117, 0.2) ;
    }
    .card img{
        margin-left: 18px;
        padding-top: 8px;
        width: 102px;
        height: 102px;
    }

    .card_dish{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .section2,.section4{
    display: grid;
    grid-template-columns: 1fr;
    }

    .container{
        width: 100%;
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        padding-left: 4px;
        padding-right: 4px;
        }
}
